.footer{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
   border-top:1px solid;
    margin-top: 20PX;
   
}
.footer>div{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.footer>div img{
    width: 30px;
    margin-left: 30px;
}
@media (min-width: 350px) and (max-width: 750px) {
    .footer{
        width: 800px;
        padding: 50px;
        font-size: 14px;
    }
}