.Project>h1 {
    text-align: center;
}
.Project img {
    width: 80%;
}
.Project>div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    margin: auto;
    box-sizing: border-box;
}

.Project>div>div {
  
    width: 40%;
    margin: auto;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.link {

    margin: auto;
    margin-top: 20px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link a {
    text-decoration: none;
    color: black;
}
.tools {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slider{
    width: 80%;
}
.tools img {
    width: 60px;
}
.tag{
    background: pink;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 8px 15px;
    border-bottom: 3px solid transparent;
    font-weight: bolder;
}
.tag:hover{
    padding: 8px 20px;
    transition:  padding 0.5s;
    background-color: whitesmoke;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@media (min-width: 350px) and (max-width: 750px) {
    .Project{
        width: 800px;
        padding: 50px;
        font-size: 12px;
    }
    .link {

        margin: auto;
        margin-top: 20px;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  }
    
